</DOCTYPE html>

<head>
    <title> Employee Project </title>
</head>
<body>
    <center>
        <h1> Performing CRUD operations</h1>
        <h2>Using Django</h2>
        <hr/>
        <a href = "{% url "employee_insert" %}"> Add Employee Record </a>
        <table border = 1>
            <tr>
                <th>Record Number</th>
                <th>Employee Name</th>
                <th>ID</th>
                <th>Team</th>
                <th>Employee Teammates</th>
                <th>Team Leader</th>
                <th>Employee Full Time Status</th>
            </tr>
            {% for display_emp in crud_employee %}
            <tr>
                <td>{{display_emp.id}}</td>
                <td>{{display_emp.employee_name}}</td>
                <td>{{display_emp.employee_id}}</td>
                <td>{{display_emp.employee_team}}</td>
                <td>{{display_emp.employee_team_employees}}</td>
                <td>{{display_emp.employee_teamleader}}</td>
                <td>{{display_emp.employee_fulltime}}</td>
                <td><a href = "/Edit/{{display_emp.id}}" > Edit </a></td>
                <td><a href = "/Delete/{{display_emp.id}}" > Delete </a></td>
            </tr>
            {% endfor %}

        </table>
    </center>
</body>
</html>
